*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
/nbproject
/user_guide/
/system/
/index.php
/license.txt
/application/config/yovoca.php
/application/config/database.php
/application/views/google_adsense/google_adsense_snippet_code_*.php